{%load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{%static 'css/style.css' %}"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>{% block title %}
    Приглашение на свадьбу
    {% endblock %}</title>

 </head>

 <body>
    <section class="invintation">
        
            <img class="invitation_background" src="{%static 'img/invitation.jpg' %}" alt="invitation"><br>
       

        <header class="top">
            <p> Приглашение на свадьбу</p>
        </header>

        
    </section>

 </body>
