{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    <title>{% block title %}
    Приглашение на свадьбу
    {% endblock %}</title>

 </head>
 <body>
    {%load static%}       
    <header class="top">
        <p>Приглашение</p>
    </header>
    <main class="maintext">
        <p class="string1">Дорог{{ ending }} {{ name }}, </p>
        <p class="string2">Приглашаем {{ persons_count }} на торжественную церемонию по случаю нашего бракосочетания, которая состоится 29.06.2024 г. в 13:15 по адресу: <a href="https://yandex.ru/maps/213/moscow/house/maly_kharitonyevskiy_pereulok_10s1/Z04YcANkQUQPQFtvfXt3dHVkYA==/?ll=37.644818%2C55.765975&z=15.31" class="nav-link">г. Москва, Малый Харитоньевский пер., д. 10, стр. 1</a>.!<br>
После церемонии планируется небольшой фуршет, который пройдет в ресторане отеля Holyday Inn по адресу: <a href="https://yandex.ru/maps/213/moscow/house/rusakovskaya_ulitsa_24/Z04YcA9hSEEBQFtvfXt5dnhnYw==/?ll=37.681146%2C55.787447&z=15" class="nav-link"> г. Москва, Русаковская улица, 24</a><br>
Просим {{ persons_count }} не дарить нам цветы - сразу после свадьбы мы улетаем в свадебное путешествие и не успеем насладиться их красотой.<br>
Мы будем рады видеть Вас на нашем торжестве.<br></p>
        <p class="string3">P.S.: Пожалуйста, подтвердите Ваше присутствие на нашем празднике до 20 июня 2024 года любым удобным для вас способом.</p>


    </main>
    <footer  class="background">
        <div>
            <img class="invitation_background" src="{% static 'img/invitation_10.png'%}" alt="invitation" ><br>
        </div>
</footer>
</body>

