@font-face {
    font family: 'MonsieurLaDoulaise-Regular';
    scr: url('../font/MonsieurLaDoulaise-Regular.ttf')
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
    font-family: 'MonsieurLaDoulaise-Regular';
    align-items: center;
}