@font-face {
    font-family: "MonsieurLaDoulaise-Regular";
    src: url("../font/MonsieurLaDoulaise-Regular.ttf");
} 

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    position: relative;
    font-style: normal;
    font-weight: 600;
    scroll-behavior: smooth;
    font-family: 'MonsieurLaDoulaise-Regular';
    align-items: center;
    color: aqua;
}

.invitation{
    position: relative; 
    
}



.invitation_background{
    /* opacity: 50%; */
    position: absolute;
    top: 110px;
    left: 0px;
}
.top{
    display: flex;
    position: absolute;
    font-family: 'MonsieurLaDoulaise-Regular';
    top: 0px;
    left: 0px;
    color: aqua;
    font-size: 106px;
    
    
} 