@font-face {
    font-family: "Floriselscript";
    src: url("../font/Floriselscript.ttf");
} 

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    position: relative;
    font-style: normal;
    font-weight: 450;
    scroll-behavior: smooth;
    font-family: 'Floriselscript';
    align-items: center;
    justify-content: center;
  
   
    
}

.invitation{
    position: absolute; 
    
}



.invitation_background{
    
    position: absolute;
    
    
}
.top{
    /* display: flex; */
    position: absolute;
    font-family: 'Floriselscript';
    
    color: rgb(118, 144, 72);
    font-size: 36px;
    /* justify-content: center; */
    
    
} 